# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\WebDevelopmentClass\my1stGradleProject\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
